@model IEnumerable<MyClass.Models.Category>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section header{
    <link rel="icon" href="~/Public/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/Public/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Public/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Public/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Public/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/Public/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Public/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Public/css/style.css">

    <script src="~/Public/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Public/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Public/vendors/skrollr.min.js"></script>
    <script src="~/Public/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Public/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Public/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/Public/vendors/mail-script.js"></script>
    <script src="~/Public/js/main.js"></script>
}

<!-- ================ SLIDER Best Selling item  carousel ================= -->
@Html.Action("Slideshow", "Module");


<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        @foreach (var cartegory in Model)
        {
            @Html.Action("HomeProduct","Site", new { @id = cartegory.Id});

            
        }

    </div>
</section>
