
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@section header{
    <link rel="icon" href="~/Public/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/Public/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Public/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Public/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Public/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/Public/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Public/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Public/css/style.css">

    <script src="~/Public/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Public/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Public/vendors/skrollr.min.js"></script>
    <script src="~/Public/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Public/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Public/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/Public/vendors/mail-script.js"></script>
    <script src="~/Public/js/main.js"></script>
}


<!-- ================ Best Selling item  carousel ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product1.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Accessories</p>
                    <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product2.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Beauty</p>
                    <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product3.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Decor</p>
                    <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product4.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Decor</p>
                    <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product1.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Accessories</p>
                    <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product2.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Beauty</p>
                    <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product3.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Decor</p>
                    <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>

            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="img-fluid" src="~/Public/images/product/product4.png" alt="">
                    <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                </div>
                <div class="card-body">
                    <p>Decor</p>
                    <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                    <p class="card-product__price">$150.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ trending product section start ================= -->
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="img/product/product1.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Accessories</p>
                        <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product2.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Beauty</p>
                        <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product3.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product4.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Decor</p>
                        <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product5.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Accessories</p>
                        <h4 class="card-product__title"><a href="single-product.html">Man Office Bag</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product6.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Kids Toy</p>
                        <h4 class="card-product__title"><a href="single-product.html">Charging Car</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product7.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Accessories</p>
                        <h4 class="card-product__title"><a href="single-product.html">Blutooth Speaker</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img" src="~/Public/img/product/product8.png" alt="">
                        <ul class="card-product__imgOverlay">
                            <li><button><i class="ti-search"></i></button></li>
                            <li><button><i class="ti-shopping-cart"></i></button></li>
                            <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <p>Kids Toy</p>
                        <h4 class="card-product__title"><a href="#">Charging Car</a></h4>
                        <p class="card-product__price">$150.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
