@*ADD model de truyen du lieu theo kieu model*@
@model IEnumerable<MyClass.Models.Menu>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
        @*Menu Ngang*@
        @foreach (var menu in Model)
        {
            @Html.Action("MainMenuSub", "Module", new { @id = menu.Id});
        }
    </ul>

    <ul class="nav-shop">
        <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
        <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>
    </ul>
</div>
